@keyframes long-line {
    0%   {width: 0px;}
    15%  {width: 3px;}
    25%  {width: 4px;}
    35%  {width: 6px;}
    45%  {width: 8px;}
    55%  {width: 10px;}
    65%  {width: 12px;}
    75%  {width: 16px;}
    85%  {width: 18px;}
    95%  {width: 22px;}
    100%  {width: 25px;}
}
@keyframes side-line {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
}
@keyframes zoominoutsinglefeatured {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes progress {
    from {width: 0px;}
}
.typed-cursor {
    animation: blink-animation 0.1s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.7s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

::selection{
    background: rgba(255, 0, 0, 0.349);
    color: white;
}
#loader-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 999999;
    animation-duration: 0.5s;
}
#loader {
    position: absolute;
    z-index: 1000000;
}
 
@-webkit-keyframes animatebottom {
    from { bottom:-500px; opacity:1 } 
    to { bottom:0px; opacity:0 }
}
  
 @keyframes animatebottom { 
    from{ bottom:-500px; opacity:1 } 
    to{ bottom:0; opacity:0 }
}
html {
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    max-height: 100%;
}
nav.navbar{
    padding: 30px;
    transition: all 0.3s ease;
}
a.nav-link{
    display: inline;
    font-weight: 600 !important;
    color: white !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 15px;
}
a.nav-link:hover{
    font-weight: 600 !important;
    color: crimson !important;
    transition: 0.5s ease;
}
a.active{
    color: crimson !important;
    transition: 0.5s ease;
}
a.active::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: crimson;    
    bottom: 5px;
    left: 9px;
    animation-name: long-line;
    animation-duration: 0.3s;
}
a.nav-link:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: crimson;    
    bottom: 5px;
    left: 9px;
    animation-name: long-line;
    animation-duration: 0.3s;
}
span.nav-logo-span{
    color: crimson;
}
.menu-btn{
    border: none !important;
}
.navbar-brand{
    font-size: 40px !important;
    font-family: 'lobster', sans-serif;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-brand:hover{
    color: crimson !important;
    transition: 0.5s ease;
}
.navbar-brand:hover span.nav-logo-span{
    color: white !important;
    transition: 0.5s ease;
}
.nav-small{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: black;
    transition: all 0.5s ease;
}
.home-section{
    background: url('../img/banner.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    color: white;
}
.home-section .container{
    margin: auto;
    margin-left: 30px;
}
.home-content p{
    font-family: 'Poppins', sans-serif;
}
.home-content h3,h5,h2,h4{
    font-family: 'ubuntu', sans-serif;
}
.home-content h3{
    font-size: 40px;
    font-weight: 400;
}
.home-content h3 span{
    font-weight: 500;
    color: crimson;
}
.home-content h2{
    font-size: 75px;
    font-weight: 700;
}
.home-content h5{
    font-size: 25px;
}
.top-button{
    transition: all 0.3s ease;
    padding: 10px 13px;
    background-color: rgba(0, 0, 0, 0.774);
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 10000;
}
.navbar-toggler{
    border: none;       
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.514); 
    background: rgba(255, 255, 255, 0.473); 
    border-radius: 25px;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff46;
    transition: all 0.3s ease; 
  }
.about-container{
    margin-top: 70px;
    margin-bottom: 70px;
}
.about-container .about-title{
    font-size: 40px;
    color: black;
    line-height: 50px;
    margin-bottom: 0px;
}
.about-container .who-am-i{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: white;
    color: crimson;
    width: fit-content;
    margin: 0 auto;
}
.about-container .who-am-i::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100px;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.about-container .who-am-i::after{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100px;
    top: 50%;
    right: 50%;
    z-index: -1;  
}
#footer{
    background-color: black;
    padding: 20px 0px;
}
#services-section{
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 1;
}
#services-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.250), rgba(255, 255, 255, 0.330));
    clip-path: circle(20% at 10% 10%);
}
#services-section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.250), rgba(255, 255, 255, 0.330));
    clip-path: circle(30% at 100% 90%);
}
.services-card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: center;
    align-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    color: white;
    z-index: 100;
    margin-top: 50px;
}
.services-card:hover{
    background: rgba(255, 0, 0, 0.2);
    border: none;
    color: white;
    cursor: grab;
}
.service-title{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0px;
}
.what-i-offer{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    background: #333;
    color: crimson;
    width: fit-content;
    margin: 0 auto;
}
.what-i-offer::before{
    content: '';
    position: absolute;
    background-color: crimson;
    height: 2px;
    width: 120px;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.what-i-offer::after{
    content: '';
    position: absolute;
    background-color: crimson;
    height: 2px;
    width: 120px;
    top: 50%;
    right: 50%;
    z-index: -1;  
}
#skills-section{
    padding: 75px 0px;
}
#skills-section .skills-row{
    margin: 30px 0px 0px 0px;
}
#skills-section .progress-bar-animate{
    animation: 1s progress;
}
.what-i-know{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    color: crimson;
    width: fit-content;
    margin: 0 auto;
}
.what-i-know::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.what-i-know::after{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    right: 50%;
    z-index: -1;  
}
.skills-heading{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0px;
}
.skills-row{
    justify-content: center;
    align-content: center;
    align-items: center;
}
.progress{
    height: 10px;
    border-radius: 10px;
}
.progress-bar{
    border-radius: 10px;
}
.skills-content p{
    font-size: 18px;
    color: black;
}
.home-seventh-section>div{
    position: relative;
    padding: 60px 70px;
    background-color: rgb(226, 19, 19);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    z-index: 1;
}
.home-seventh-section>div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.250), rgba(255, 255, 255, 0.330));
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}
.home-seventh-section>div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.330), rgba(255, 255, 255, 0.250));
    clip-path: circle(25% at 100% 90%);
    z-index: -1;
}
.home-seventh-section .column-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.home-seventh-section .column-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home-seventh-section p{
    margin: 0px !important;
    font-size: 18px;
    line-height: 30px;
    color: white;
}
.home-seventh-section h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: white;
}
#contact-section{
    position: relative;
}
#contact-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 95%;
    top: 130px;
    background: #f3f2f2;
    z-index: -10;
}
.download-cv{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    vertical-align: middle;
}
.download-cv:hover{
    background-color: white;
    border: 2px solid white;
    color: rgb(226, 19, 19);
    transition: all 0.5s ease;
}
.get-in-touch{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    background: #f3f2f2;
    color: crimson;
    width: fit-content;
    margin: 0 auto;
}
.get-in-touch::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.get-in-touch::after{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    right: 50%;
    z-index: -1;  
}
.contact-content{
    margin-left: 200px;
}
.contact-content h3{
    color: black;
    font-size: 25px;
}
.contact-content p{
    color: black;
    font-size: 18px;
}
.social-icons a{
    color: crimson;
    text-decoration: none;
    margin-right: 5px;
    background: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid crimson;
    border-radius: 100%;
    margin-top: 10px;
}
a.whatsapp-link:hover{
    color: white;
    background: #48A91F;
    border: 2px solid #48A91F;
    transition: all 0.5s ease;
}
a.facebook-link:hover{
    color: white;
    background: #3E5D99;
    border: 2px solid #3E5D99;
    transition: all 0.5s ease;
}
a.linkedin-link:hover{
    color: white;
    background: #0C61BF;
    border: 2px solid #0C61BF;
    transition: all 0.5s ease;
}
a.instagram-link:hover{
    color: white;
    background: black;
    border: 2px solid #000;
    transition: all 0.5s ease;
}
a.github-link:hover{
    color: white;
    background: black;
    border: 2px solid #000;
    transition: all 0.5s ease;
}
a.twitter-link:hover{
    color: white;
    background: #28A5DC;
    border: 2px solid #28A5DC;
    transition: all 0.5s ease;
}
.contact-details{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-details i{
    font-size: 25px;
    margin-right: 10px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 100%;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
}
.contact-details h3{
    font-size: 20px;
    color: black;
}
.contact-details i.fa-phone-square{
    padding: 10px 12px;
}
.contact-link{
    text-decoration: none;
    color: black;
}
.contact-link:hover i, .contact-link:hover h3{
    text-decoration: none;
    color: white;
    border-color: crimson;
    background-color: crimson;
    transition: 0.5s all ease;
}
.contact-link:hover h3{
    background-color: transparent !important;
    color: crimson!important;
}
.owl-item{
    min-height: 500px !important;
}
.owl-carousel:hover{
    cursor: pointer;
}
.head-section{
    z-index: 1;
}
.head-section-after{
    height: 100vh;
    width: 100%;
    background: url('../img/banner-project-1.jpg') no-repeat center center/cover;
    color: white;
    background-attachment: fixed;
    display: flex;
    top: 0;
    position: relative;
    z-index: 1;
}
.head-section .container-fluid{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.719) 40%, rgba(0, 0, 0, 0.418));
    z-index: 12;
    height: 100%;
}
.head-section .row{
    height: 100%;
}
.head-section .col-lg-6{
    display: flex;
    align-items: center;
    align-content: center;

}
.head-section .col-lg-6 img{
    margin-left: auto;
    margin-right: 35px; 
    height: 80vh;
}
.head-content p{
    font-family: 'Poppins', sans-serif;
}
.head-content h3,.head-content h5,.head-content h2,.head-content h4{
    font-family: 'ubuntu', sans-serif;
    margin-left: 35px;
}
.head-content h3{
    font-size: 40px;
    font-weight: 400;
}
.head-content h3 span{
    font-weight: 500;
    color: crimson;
}
.head-content h2{
    font-size: 75px;
    font-weight: 700;
}
.head-content h5{
    font-size: 25px;
}
.owl-item.active .project-image{
    animation: zoominoutsinglefeatured 10s infinite;
}
.project-image{
    height: 650px;
}
.col-left, .col-right{
    margin: 75px 0px 150px 0px;
    display: flex;
    align-items: center;
    align-content: center;
}
.col-left .owl-carousel::after{
    content: '';
    position: absolute;
    height: 550px;
    width: 95%;
    background-color: #E1E1E1;
    bottom: -12%;
    right: -10%;
    z-index: -1;
}
.col-right .owl-carousel::after{
    content: '';
    position: absolute;
    height: 550px;
    width: 95%;
    background-color: #E1E1E1;
    bottom: -12%;
    left: -10%;
    z-index: -1;
}
.owl-stage-outer{
    box-shadow: 0px 0px 15px #908e8e88;
}
.owl-dots{
    margin-top: 40px;
}
.owl-dot{
    height: 10px;
    width: 10px;
    background-color: #817d7d !important;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
}
.owl-dot.active, .owl-dot:hover{
    width: 30px;
    background-color: crimson !important;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.owl-nav{
    float: right;
    margin-top: 15px;
}
#projects-section{
    padding: 50px 0px;
}
#projects-section>div{
    padding: 0px 70px;
}
#projects-section .owl-carousel .owl-nav button{
    background-color: transparent !important;
    border: 2px solid crimson !important;
    color: crimson;
    padding: 10px 15px !important;
    margin-left: 10px;
    border-radius: 100%;
}
#projects-section .owl-carousel .owl-nav button:hover{
    background-color: crimson !important;
    border: 2px solid crimson !important;
    color: white;
    transition: all 0.5s ease;
}
#projects-section h2.projects-title{
    font-size: 35px;
}
.work-examples{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    color: crimson;
    width: fit-content;
    margin: 0 auto;
}
.work-examples::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.work-examples::after{
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 120px;
    top: 50%;
    right: 50%;
    z-index: -1;  
}
.projects-content{
    margin-left: 120px;
    position: relative;
}
.col-right .projects-content{
    margin-left: 50px;
}
.projects-content>div{
    display: flex;
    align-items: center;
}
.projects-content h3{
    font-size: 55px;
    position: relative;
    width: fit-content;
}
.animate-to-right{
    height: 2px;
    width: 150px;
    background-color: crimson;
    margin-left: 30px;
}
.animation-to-right{
    animation: side-line 2s;
    animation-delay: 0.5s;
}
.projects-content p{
    font-size: 18px;
    width: 90%;
    margin-top: 15px;
}
.col-right .projects-content p{
    width: 80%;
}
.projects-content a{
    color: crimson;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 55%;
    margin-top: 30px;
}
.col-left .projects-content a{
    left: 15%;
}
.projects-content a:after{
    content: '';
    position: absolute;
    background-color: crimson;
    height: 2px;
    width: 250px;
    left: 115%;
    top: 50%;
}
.col-left .projects-content a:after{
    left: -250%;
}
@media screen and (max-width: 1180px) {
    .contact-content{
        margin-left: unset;
    }  
    .head-section .col-md-6 img{
        margin-left: auto;
        margin-right: 35px;
        margin-top: 150px;
    }
    div.projects-content{
        margin: 0 !important;
    }
    .col-left div.projects-content{
        margin-left: 55px !important;
    }
    .projects-content h3{
        font-size: 30px;
    }
    .animate-to-right{
        margin-left: 20px;
    }
    .projects-content a{
        left: 30%;
    }
    .col-left .projects-content a{
        left: 30%;
    }
    #projects-section>div {
        padding: 0px 20px;
    }
    .head-section-after h3{
        font-size: 35px;
    }
}
@media screen and (max-width: 780px) {
    a.nav-link:hover::after{
        left: 0% !important;
    }
    .home-seventh-section>div{
        padding: 35px 30px;
    }
    
    .home-seventh-section p{
        font-size: 15px;
    }
    a.active::after{
        left: 0% !important;
    }
    li.nav-item{
        margin-bottom: 15px;
    }
    .navbar{
        background-color: black;
    }
    .navbar .navbar-collapse{
        padding-top: 50px;
        text-align: center;
    }
    #projects-section>div {
        padding: 0px 20px;
    }
    .owl-dots{
        display: none;
    }
    .head-section .col-lg-6 img{
        margin: 0 auto;
        height: 60vh;
        margin-bottom: 50px;
    }
    .head-section-after .row{
        flex-direction: column-reverse;
    }
    .head-section-after .row h3{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .col-left div.projects-content{
        margin-left: 40px !important;
    }

}
@media screen and (max-width: 765px) {
    .col-right .owl-carousel::after{
        width: 100vw;
        left: -4.8%;
    }
    .col-left .owl-carousel::after{
        width: 100vw;
        left: -4.8%;
    }
}
@media screen and (max-width: 480px) {
    nav.navbar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-section .container {
        margin: auto;
        margin-left: 15px;
    }
    .home-seventh-section>div{
        margin-left: 5px;
        margin-right: 5px;
        padding: 35px 20px;
    }   
    .home-content h3{
        font-size: 25px;
    }
    .home-content h2{
        font-size: 55px;
    }
    .home-content h5{
        font-size: 20px;
    }
    .services-card {
        margin-left: 20px;
        margin-right: 20px;
    }
    .what-i-offer{
        background: #686868;
    }
    .home-seventh-section .column-2 {
        align-items: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .home-seventh-section h2 {
        font-size: 30px;
        line-height: 45px;
        color: white;
    }
    div.projects-content{
        margin: 0 10px !important;
        margin-top: 60px !important;
    }
    .col-left div.projects-content{
        margin: 0 10px !important;
        margin-top: 60px !important;
    }
    #projects-section>div{
        padding: unset;
    }
    .col-right{
        flex-direction: column-reverse;
    }
    .projects-content a{
        left: 0 !important;
    }
    div.col-right div.projects-content p{
        width: unset;
    }
    .projects-content h3{
        font-size: 30px;
    }
    .col-right .owl-carousel::after{
        width: 100vw;
        left: -3%;
    }
    .col-left .owl-carousel::after{
        width: 100vw;
        left: -3%;
    }
    .projects-content a:after{
        height: 2px;
        width: 200px;
        left: 115%;
        top: 50%;
    }
    .col-left .projects-content a:after{
        left: 115%;
    }
    .head-content h3,.head-content h5,.head-content h2,.head-content h4{
        font-family: 'ubuntu', sans-serif;
        margin-left: 20px;
    }
    .head-content h2{
        font-size: 55px;
    }
    .head-section .col-lg-6 img{
        height: 40vh;
    }
    #projects-section{
        padding-bottom: 0;
    }
    #projects-section .row{
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 320px) {
    .social-icons a{
        line-height: 60px;
    }
    .home-content h3{
        font-size: 18px;
    }
    .home-content h2{
        font-size: 45px;
    }
    .home-content h5{
        font-size: 15px;
    }
}
